@import "tailwindcss";
/* Light theme (default) */
:root {
  --bg: #ffffff;
  --text: #111111;
  --card: #f3f3f3;
}

/* Dark theme */
[data-theme="dark"] {
  --bg: #0b0f19;
  --text: #f3f6ff;
  --card: #141d35;
}

/* Use variables */
body {
  background: var(--bg);
  color: var(--text);
  transition: all 0.3s ease;
}

.card {
  background: var(--card);
  padding: 20px;
  border-radius: 10px;
}